/* Exposition.css */

html, body {
	width: 100%;
	height: 100%;
	background-color: black;
	margin: 0px;
	color: white;
}

#header {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 60px;
	background-color: rgb(55, 55, 55);
	/*box-shadow: inset 0px -5px 5px -5px rgba(0, 0, 0, 0.8);*/
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: rgb(65, 65, 65);
}

#header p {
	margin-top: 19px;
	margin-left: 19px;			
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: rgb(240, 240, 240);			
}

#footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 60px;
	background-color: rgb(55, 55, 55);
	/*box-shadow: inset 0px 5px 5px -5px rgba(0, 0, 0, 0.8);	*/
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: rgb(65, 65, 65);			
}

#main {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 62px;
	bottom: 62px;
	background-color: rgb(32, 32, 32);
	box-shadow: inset 5px 0px 5px -5px rgba(0, 0, 0, 1), inset -5px 0px 5px -5px rgba(0, 0, 0, 1), inset 0px 6px 5px -5px rgba(0, 0, 0, 1), inset 0px -6px 5px -5px rgba(0, 0, 0, 1);
}

.item {
	position: absolute;

	/* Example */
	/*left: 20px;
	top: 20px;
	width: 160px;
	height: 191px; *//*107+(17+4)+10px;*/
	/*height:191px*/;

	/* Debugging */
	/*border-color: red;
	border-style: solid;
	border-width: 1px;*/
}

.item .thumbnail {
	position: absolute;
	margin: 0px;
	background-color: rgb(240, 240, 240);			
	padding: 4px;
	box-shadow: rgb(0, 0, 0) 0px 0px 4px 0px;


	/* Example */
	/*top: 0px;
	left: 26px;
	width: 106px;
	height: 160px;*/


	/* Debugging */
	/*
	border-color: white;
	border-style: solid;
	border-width: 1px;*/
}

.item .thumbnail:hover {
	box-shadow: rgb(255, 255, 255) 0px 0px 10px 0px;
	-webkit-filter: brightness(20%);
}


.item .title {
	position: absolute;
	color: rgb(220, 220, 220);			
	text-align: center;
	left: 14px;
	right: 14px;
	height: 17px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	/*text-shadow: rgb(0, 0, 0) 0px 0px 1px;*/
	padding-top: 4px;
	padding-bottom: 0px;
	padding-top: 4px;	/* Used to center text, increase height by 4px */
	background-clip: border-box;
	background-color: 
	rgb(60, 60, 60);
	background-image: none;
	background-origin: padding-box;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: rgb(0, 0, 0) 0px 0px 4px 0px;

	/* Debugging */
	/*border-color: green;
	border-style: solid;
	border-width: 1px;*/
}
