._.DS_Store
._.gitignore
node_modules
src/.vs
src/Exposition/bin
src/Exposition/obj
src/Exposition/project.lock.json
src/Exposition.Tests/bin
src/Exposition.Tests/obj
src/Exposition.Tests/project.lock.json