RewriteEngine on

# Dirty hack to speed up things for hosting providers where PHP readfile() seems
# to be an order of magnitude slower than regular apache files (and X-SendFile 
# is not available). This code bypasses PHP through redirections. However if images
# are changed they are not updated. The image-cache must be publically accessible
#RewriteRule ^image/([0-9]+)/(.*)$ image-cache/$1/$2 [DPI]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^image-cache/([0-9]+)\/(.*)$ php/ajax/image.php?size=$1&path=/$2 [L]
# END

# Normal rewrite rules for RESTFul API
RewriteRule ^item/(.*)$ php/ajax/item.php?path=/$1
RewriteRule ^config$ php/ajax/config.php
RewriteRule ^image/([0-9]+)/(.*)$ php/ajax/image.php?size=$1&path=/$2

